{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boleta</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/MASCOTITASHOP-LOGO.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6a2db6b284.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
</head>
<body class="white-body">
    <div class="container">
        <h3> Detalle de Compra </h3><br><h6>Fecha: {{ fecha }}</h6>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Código Boleta</th>
                    <th>Código Producto</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                {% for prod in productos%}
                <tr>
                    <td>{{ prod.id_boleta }}</td>
                    <td>{{ prod.id_producto }}</td>
                    <td>{{ prod.cantidad }}</td>
                    <td>{{ prod.subtotal }}</td>
                </tr>
                {% endfor %}
            </tbody>
               
            <tr><td><h6>Total Compra: {{ total }}</h6></td>
            </tr>
        </table>
    </div>
</body>
</html>
{% endblock %}