{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
    <title>Productos</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/MASCOTITASHOP-LOGO.ico' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/marcelo.css' %}" rel="stylesheet">
    <link href="{% static 'css/estilos.css' %}" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://kit.fontawesome.com/6a2db6b284.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

    
    
</head>
<body>
   

   <!--creación de tarjetas-->
   <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="{% static 'img/producto1.jpeg' %}" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;">
          <div class="card-body">
            <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" style="width: 90px; height: 90px;">
            <h3 style="color: #198bb8; font-family: cursive;">Pechera Perrito/a</h3>
            <p style="color: #198b; font-family: cursive;">
              Perchera para perrito incluye correa, bandana.
            </p>
            <a href="#" class="btn btn-outline-primary">$10.990 Comprar</a>
          </div>
        </div>
      </div><!-- Tarjeta 1 -->
  
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <div class="card-body">
            <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" style="width: 90px; height: 90px;">
            <h3 style="color: #198bb8; font-family: cursive;">Pechera Gatitos</h3>
            <br>
            <p style="color: #198b; font-family: cursive;">
              Pechera para gatito incluye correa, bandana, collar y placa.
            </p>
            <a href="#" class="btn btn-outline-primary">$10.990 Comprar</a>
          </div>
          <img src="{% static 'img/producto 2.jpeg' %}" class="card-img-bottom" alt="Producto 2" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
      </div><!-- Tarjeta 2 -->
  
      <div class="col-md-4 col-sm-6">
        <div class="card">
          <img src="{% static 'img/identificadores 2.jpeg' %}" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;">
          <div class="card-body">
            <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" style="width: 90px; height: 90px;">
            <h3 style="color: #198bb8; font-family: cursive;">Placas Identificación</h3>
            <p style="color: #198b; font-family: cursive;">
              Placa para identificar tu mascota, diferentes motivos.
            </p>
            <a href="#" class="btn btn-outline-primary">$10.990 Comprar</a>
          </div>
        </div>
      </div><!-- Tarjeta 3 -->
    </div><!-- Fin row -->
  </div><!-- Fin container -->
<br>
       <!--creación de tarjetas-->
       <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <img src="{% static 'img/producto 5.jpeg' %}" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;"">
                    <div class="card-body">
                        <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" style="width: 90px; height: 90px;">
                        <h3  style="color: #198bb8; font-family: cursive;">Bandana Mascotas</h3>
                        <p style="color: #198b; font-family: cursive;">
                            Bandana personalizada + collar con nombre y número telefónico.
                        </p>
                        <a href="#" class="btn btn-outline-primary">$10.990 Comprar</a>
                    </div>
                    
                </div>
            </div><!-- Tarjeta 4 -->
            
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" style="width: 90px; height: 90px;">
                        <h3  style="color: #198bb8; font-family: cursive;">Pechera Pequeña</h3>
                        <p style="color: #198b; font-family: cursive;">
                            Perchera con correa + bandana y collar
                        </p>
                        <a href="#" class="btn btn-outline-primary">$10.990 Comprar</a>
                    </div>
                    <img src="{% static 'img/producto 3.jpeg' %}" class="card-img-bottom" alt="Producto 2" style="width: 100%; height: 100%; object-fit: cover;">
                </div>
            </div><!-- Tarjeta 5 -->
    
            <div class="col-md-4 col-sm-6">
                <div class="card">
                    <img src="{% static 'img/correas.jpeg' %}" class="card-img-top" style="width: 100%; height: 100%; object-fit: cover;">
                    <div class="card-body">
                        <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" style="width: 90px; height: 90px;">
                        <h3 style="color: #198bb8; font-family: cursive;">Collares</h3>
                        <p style="color: #198b; font-family: cursive;">
                            Collares personaliazdos distintos diseños y motivos para tu mascota.
                        </p>
                        <a href="Form-Compra.html" class="btn btn-outline-primary">$10.990 Comprar</a>
                    </div>
                </div>
            </div><!-- Tarjeta 6 -->
        </div><!-- Fin row -->
    </div><!-- Fin container -->



       <br><br>





    

       <footer>
        <div class="row col-12">
            <div class="col-lg-2">
                <a href="{% url 'index' %}"><img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" href="{% url 'index' %}" alt="logoBookStop" width="60px"></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'index' %}" id="linkFooter"style="color: #198b; font-family: cursive;" ><strong>Inicio</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'quienes_somos' %}" id="linkFooter"style="color: #198b; font-family: cursive;"><strong>Quienes Somos</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'productos' %}" id="linkFooter"style="color: #198b; font-family: cursive;"><strong>Productos</strong></a>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'index' %}" id="linkFooter"style="color: #198b; font-family: cursive;"><strong>Donaciones</strong></a>
            </div>

            <div class="col-lg-2">
                <strong style="color: #198b; font-family: cursive;">Síguenos</strong>
                <br><br>
                <div class="row">
                    <a href="https://www.facebook.com/"><img src="{% static 'img/fb.png' %}" alt="" width="30px" height="30px"style=" margin-left: 15px;"></a>
                    <a href="https://www.instagram.com/"><img src="{% static 'img/instagram.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;"></a>
                    <a href="https://www.twitter.com/"><img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;"></a>

                </div>
            </div>


            <div class="col-lg-3">

                <strong style="color: #198b; font-family: cursive;">Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Av. Miraflores , Peñaflor</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>+56988079091</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>info@mascotitashop.cl</p>
                </div>
                <br><br><br>

                <p>&copy; MACOTITASSHOP - 2023</p>
            </div>
        </div>
    </footer>
    <!-- script que permite mostrar/ocultar navbar haciendo scroll -->
    <script type="text/javascript">
        let ubicacionInicial = window.pageYOffset;
        window.onscroll = function () {
            let ubicacionPosterior = window.pageYOffset;
            if (ubicacionInicial >= ubicacionPosterior) {
                document.getElementById("barraNav").style.top = "0";
            }
            else {
                document.getElementById("barraNav").style.top = "-70px";
            }
            ubicacionInicial = ubicacionPosterior
        }
    </script>
</body>



</html>
{% endblock %}