{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productos</title>
    {% load static %}
</head>
<body>
    <div class="container">
        <h2> Productos </h2><br>

        <div class="row">
            {% for pro in productos  %}
            <div class="col-8 col-md-4">
                <div class="card text-center">
                    {% if pro.imagen %}
                    <td>
                        <img src="{{ pro.imagen.url }}" style="display: block; margin: 0 auto;">
                    </td>
                    {% else %}
                    <td>
                        <p style="color:red">No tiene foto</p>
                    </td>
                    {% endif %}
                    <div class="card-body">
                        <h4 class="card-title"> Nombre : {{ pro.nombre }}</h4>
                        <p class="card-text">
                            Código : {{ pro.codigo }}
                            precio  : $ {{ pro.precio }}<br>
                           
                        </p>
                        
                      
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <footer>
        <div class="row col-12">
            <div class="col-lg-2">
                <a href="{% url 'index' %}"><img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" href="{% url 'index' %}" alt="logoBookStop" width="60px"></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'index' %}" id="linkFooter"style="color: #198b; font-family: cursive;" ><strong>Inicio</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'quienes_somos' %}" id="linkFooter"style="color: #198b; font-family: cursive;"><strong>Quienes Somos</strong></a>
            </div>
            <div class="col-lg-1">
                <a href="{% url 'productos' %}" id="linkFooter"style="color: #198b; font-family: cursive;"><strong>Productos</strong></a>
            </div>
            <div class="col-lg-2">
                <a href="{% url 'index' %}" id="linkFooter"style="color: #198b; font-family: cursive;"><strong>Donaciones</strong></a>
            </div>

            <div class="col-lg-2">
                <strong style="color: #198b; font-family: cursive;">Síguenos</strong>
                <br><br>
                <div class="row">
                    <a href="https://www.facebook.com/"><img src="{% static 'img/fb.png' %}" alt="" width="30px" height="30px"style=" margin-left: 15px;"></a>
                    <a href="https://www.instagram.com/"><img src="{% static 'img/instagram.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;"></a>
                    <a href="https://www.twitter.com/"><img src="{% static 'img/twitter.png' %}" alt="" width="30px" height="30px" style=" margin-left: 10px;"></a>

                </div>
            </div>


            <div class="col-lg-3">

                <strong style="color: #198b; font-family: cursive;">Contacto</strong>
                <br><br>
                <div class="row">
                    <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>Av. Miraflores , Peñaflor</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>+56988079091</p>
                </div>
                <div class="row">
                    <img src="{% static 'img/MASCOTITASHOP-LOGO.png' %}" alt="" width="20px" height="20px"
                        style="margin-right: 10px; margin-left: 15px;">
                    <p>info@mascotitashop.cl</p>
                </div>
                <br><br><br>

                <p>&copy; MACOTITASSHOP - 2023</p>
            </div>
        </div>
    </footer>

    <!-- script que permite mostrar/ocultar navbar haciendo scroll -->
    <script type="text/javascript">
        let ubicacionInicial = window.pageYOffset;
        window.onscroll = function () {
            let ubicacionPosterior = window.pageYOffset;
            if (ubicacionInicial >= ubicacionPosterior) {
                document.getElementById("barraNav").style.top = "0";
            }
            else {
                document.getElementById("barraNav").style.top = "-70px";
            }
            ubicacionInicial = ubicacionPosterior
        }
    </script>
</body>
</html>
{% endblock %}